<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError{
        border-color: #bd2130;
     }
</style>
<body>
    <div class="container">
        <h1>회원가입</h1>
        <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
        <form roles="form" th:action="@{/user/new}" th:object="${userForm}" method="post">
            <div class="form-group">
                <label th:for="email">이메일</label>
                <input type="email" name="email" class="form-control" placeholder="이메일 입력해주세요">
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" placeholder="비밀번호">
            </div>
            <div class="form-group">
                <label th:for="nickname">닉네임</label>
                <input type="text" class="form-control" name="nickname" placeholder="닉네임">
            </div>
            <div class="form-group">
                <label for="company">회사명</label>
                <select name="companyId" id="company" class="form-control">
                    <option value="">회사선택</option>
                    <option th:each="company : ${companies}"
                            th:value="${company.id}"
                            th:text="${company.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>