<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<style>
    .fieldError{
        border-color: #bd2130;
     }
</style>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
        <form action="/store/new" th:object="${storeForm}" method="post">
            <div class="form-group">
                <label th:for="name">가게이름</label>
                <input type="text" th:text="*{name}" th:field="*{name}" placeholder="가게이름을 입력하세요." class="form-control">
            </div>
            <div class="form-group">
                <label th:for="address">주소</label>
                <input class="form-control" placeholder="주소 입력하세요." th:field="*{address}" type="text">
            </div>
            <div class="form-group">
                <label th:for="phoneNum">연락가능한번호</label>
                <input class="form-control" placeholder="일지를 입력하세요." th:field="*{phoneNum}"/>
            </div>
            <div class="form-group">
                <label th:for="type">종류</label>
                <select name="typeId" id="type" class="form-control">
                    <option value="">선택</option>
                    <option th:each="type : ${T(com.example.domain.store.StoreType).values()}"
                            th:text="${type}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="item">옵션</label>
                <div th:each="item : ${allItems}">
                    <input type="checkbox" th:field="${foo.checkedItems}" th:value="${item}" />
                    <label th:text="${item}">example</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br/>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>