<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<style>
    .fieldError{
        border-color: #bd2130;
     }
</style>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
        <form th:action="@{/store/list}" th:object="${storeForm}" method="post">
            <div class="form-group">
                <label th:for="name">가게이름</label>
                <input type="text" th:field="*{name}" placeholder="가게이름을 입력하세요." class="form-control" disabled>
            </div>
            <div class="form-group">
                <label th:for="address">주소</label>
                <input class="form-control" placeholder="주소 입력하세요." th:field="*{address}" type="text" disabled>
            </div>
            <div class="form-group">
                <label th:for="phoneNum">연락가능한번호</label>
                <input class="form-control" placeholder="일지를 입력하세요." th:field="*{phoneNum}" disabled/>
            </div>
            <div class="form-group">
                <label th:for="storeType">종류</label>
                <input class="form-control" placeholder="일지를 입력하세요." th:field="*{storeType}" disabled/>
            </div>
            <div class="form-group">
                <label th:for="storeType">아이스크림!</label>
                <img id="myImage" onclick="changeImage()" th:src="@{/images/icecream_off.png}" style="width:100px; height:100px;"/>
                <input class="form-control" placeholder="일지를 입력하세요." th:field="*{icecreamCount}" disabled/>
            </div>
            <div class="form-group">
                <label th:for="item">옵션</label>
                <div th:each="item : ${allItems}">
                    <input type="checkbox" th:field="${foo.checkedItems}" th:value="${item}" disabled/>
                    <label th:text="${item}">example</label>
                </div>
            </div>
            <div class="form-group">
                <label th:for="phoneNum">지도</label>
                <div id="map" style="width:500px;height:400px;"></div>
            </div>
            <a href="/store/list" type="submit" class="btn btn-primary">확인</a>
        </form>
        <br/>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <script>
        function changeImage() {
          var image = document.getElementById('myImage');
          if (image.src.match("/images/icecream_off.png")) {
            image.src = "/images/icecream_on.png";
          } else {
            image.src = "/images/icecream_off.png";
          }
        }
    </script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bce28a2db13124fbab13e27fc3bce212&libraries=services"></script>
    <script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>
</body>
</html>