<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <p class="lead">
            <a class="btn btn-lg btn-info" th:href="@{/store/new}">가게등록</a>
            <a class="btn btn-lg btn-info" th:href="@{/store/list}">가게목록</a>
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-secondary" th:href="@{/reserve}">회식장소등록</a>
            <a class="btn btn-lg btn-secondary" th:href="@{/reserve/list}">회식장소목록</a>
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-dark" th:href="@{/user/new}">유저등록</a>
            <a class="btn btn-lg btn-dark" th:href="@{/user/list}">유저목록</a>
        </p>
        <p class="lead">

        </p>
        <p class="lead">

        </p>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>
