<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <p class="lead">
            <span sec:authentication="name"></span>님, 안녕하세요!
        <p>
        <p>
            <a class="btn btn-lg btn-secondary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users}">사용자관리</a>
            <a class="btn btn-lg btn-secondary" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/auths}">권한관리</a>
        </p>
        <p>
            <a class="btn btn-lg btn-dark" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/info}">접속권한관리</a>
            <a class="btn btn-lg btn-dark" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users}">Client관리</a>
            <a class="btn btn-lg btn-info" th:href="@{/board/new}">팀점등록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-info" sec:authorize="hasRole('ROLE_USER')" th:href="@{/users/info}">내정보</a>
            <a class="btn btn-lg btn-info" sec:authorize="isAuthenticated()" th:href="@{/users/logout}">로그아웃</a>
            <a class="btn btn-lg btn-primary" sec:authorize="isAnonymous()" th:href="@{/users/login}">로그인</a>
            <a class="btn btn-lg btn-info" sec:authorize="isAnonymous()" href="/users/new">회원 가입</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>